{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="bg-gray-800 p-8 rounded-md shadow-md w-96">
        <h1 class="text-3xl font-semibold mb-6 text-center">Welcome!</h1>

        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
        
        <a href="{{ url_for('auth_routes.initiate_github_oauth') }}" class="flex items-center justify-center bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-500">
            <img src="{{ url_for('static', filename='img/github.svg') }}" alt="GitHub Logo" class="w-6 h-full inline-block mr-2">
            Log in with GitHub
        </a>

        <p class="text-center text-sm text-gray-400 my-4">or</p>

        <hr class="h-px mb-6 bg-gray-200 border-0 dark:bg-gray-700">
        
        <!-- Example Traditional Login Form -->
        <form class="relative" action="{{ url_for('auth_routes.login') }}" method="POST" novalidate>
            {{ form.csrf_token }}
                
            <div class="mb-6 flex flex-col relative">
                <label for="username" class="block text-sm font-medium text-gray-300">Username</label>
                {{ form.username(class="mt-1 p-2 w-full border rounded-md bg-gray-700 text-white") }}
                
                {% if form.errors.get('username') %}
                    <div class="absolute bottom-[-20px] text-red-500 text-xs">{{ form.errors.get('username')[0] }}</div>
                {% endif %}
            </div>

            <div class="mb-6 flex flex-col relative">
                <label for="password" class="block text-sm font-medium text-gray-300">Password</label>
                {{ form.password(class="mt-1 p-2 w-full border rounded-md bg-gray-700 text-white") }}
                
                {% if form.errors.get('password') %}
                    <div class="absolute bottom-[-20px] text-red-500 text-xs">{{ form.errors.get('password')[0] }}</div>
                {% endif %}
            </div>
            
            <button type="submit" class="bg-blue-600 text-white mt-2 py-2 px-4 rounded-md hover:bg-blue-500 w-full">Login</button>
        </form>
        
    </div>
{% endblock %}